textarea {
	width: 500;
	height: 200;
	background-color: #F5FFFA;
	color: #000000;
}

input {
	font-family: candara;
}

.button {
	width: 500;
	height: 40;
	background-color: #F5FFFA;
	color: #000000;
}

b {
	font-size: 20pt;
	color: #F5FFFA;
}

body {
	background-color: #DB7093;
	font-family: Courier New;
}

table {
	border-color: #F5FFFA;
	background-color: #8FBC8F;
}